{% extends "base.html" %}
{% load  static  %}

{% block content  %}
<div class="container" style="margin-top:50px;">
    <h2 class="text-center">About Us</h2>
    <div class="row">
        <div class="col sm-4">
            <img src="{% static 'images/HospitalProjectpicture.jpg' %}" width="300" height="200" class="image-responsive" alt="" >
        </div>
        <div class="col sm-8 font-weight-bold mt-5">
            <h3>This is Hospital Management Project Developed by Myself Osman bhatti using 
                Html, css, bootstrap, JavaScript, Python Django And Sql-lite</h3>
        </div>
    </div>


</div>

{% endblock content %}